<template name="effects">
  <div id="tabs">
     <div class="toggle active">
       FX
    </div>
  </div>
  <div id="effects">
    <div class="module" id=delay>
       <i class="icon-off"></i>
       <div class="knobs">
          <input type="text" class="delay-A knob" data-height=40 data-width=40 data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="delay-B knob" data-height=40 data-width=40 data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="delay-C knob" data-height=40 data-width=40 data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
        </div>
      <span>delay</span>
    </div>
    <div class=module></div>
    <div class=module></div>
  </div>
</template>