<template name="effects">
<div id="effects">
  <div class="wahwah effect">
    <div class="name">WahWah</div>
    <div class="amount">
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
    </div>
  </div>
  <div class="delay effect">
    <div class="name">Delay</div>
    <div class="amount">
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
    </div>
  </div>
  <div class="phaser effect">
    <div class="name">Phaser</div>
    <div class="amount">
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
    </div>
  </div>
  <div class="overdrive effect">
    <div class="name">Overdrive</div>
    <div class="amount">
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
    </div>
  </div>
  <div class="chorus effect">
    <div class="name">Chorus</div>
    <div class="amount">
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
    </div>
  </div>
  <div class="compressor effect">
    <div class="name">Compressor</div>
    <div class="amount">
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
      <span class="tick"></span>
    </div>
  </div>
</div>
</template>
