<template name="effects">
  <div id="tabs">
     <div class="toggle active">
       FX
    </div>
  </div>
  <div id="effects">
    <div class="delay effect">
       <i class="icon-off"></i>
       <div class="knobs">
          <input type="text" class="delay-A knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="delay-B knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="delay-C knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
        </div>
      <span>delay</span>
    </div>
    <div class="phaser effect" >
      <i class="icon-off"></i>
       <div class="knobs">
          <input type="text" class="phaser-A knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="phaser-B knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="phaser-C knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
        </div>
      <span>phaser</span>

    </div>
    <div class="overdrive effect" >
      <i class="icon-off"></i>
       <div class="knobs">
          <input type="text" class="overdrive-A knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="overdrive-B knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="overdrive-C knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
        </div>
      <span>overdrive</span>

    </div>
    <div class="chorus effect" >
      <i class="icon-off"></i>
       <div class="knobs">
          <input type="text" class="chorus-A knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="chorus-B knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="chorus-C knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
        </div>
      <span>chorus</span>
    </div>
    <div class="wahwah effect" >
      <i class="icon-off"></i>
       <div class="knobs">
          <input type="text" class="wahwah-A knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="wahwah-B knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="wahwah-C knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
        </div>
      <span>wahwah</span>
    </div>
    <div class="convolver effect" >
      <i class="icon-off"></i>
       <div class="knobs">
          <input type="text" class="convolver-A knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="convolver-B knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
          <input type="text" class="convolver-C knob" data-height=40 data-width=40 data-fgColor="#085354" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
        </div>
      <span>convolver</span>
    </div>
  </div>
</template>