@import "base.lessimport";
@import "variables.lessimport";

body {
  overflow: hidden;
  font-family: @font;
  font-size: @base-font-size;
  letter-spacing: 1pt;
}

ul {
  list-style: none;
}

canvas {
  cursor: pointer;
}

#sidebar, #subsidebar, #content {
  position: absolute;
  top: 0;
  bottom: 0;
}

#sidebar {
  width: @sidebar-width;
  background-color: @sidebar-color;
}

#subsidebar {
  left: @sidebar-width;
  width: @subsidebar-width;
  background-color: @subsidebar-color;
  border-left: 1px solid @border-color;
}

#subsidebar li{
  cursor: pointer;
  text-transform: uppercase;
  color: @color-b;
  font-size: @base-font-size;
  letter-spacing: 2pt;
  margin-top: 20px;
  &.active, &:hover {
    color: @highlight-color-a;
  }
}


#content {
  left: @sidebar-width + @subsidebar-width;
  right: 0px;
  background-color: @content-color;
  border-left: 1px solid @border-color;
  overflow-x: hidden;
  overflow-y: auto;

  hr {
    clear: both;
    margin: 0;
    border: 0;
    border-bottom: 1px solid @border-color;
  }

  .padded {
    padding: 20px;
    clear: both;
  }
}

#header, #subheader {
  height: @header-height;
  border-bottom: 1px solid @border-color;
  line-height: @header-height;
  font-size: 0.25 * @header-height;
}

#header {
  background-color: @content-color;
}

#subheader {
  background-color: @subheader-color;
  text-transform: uppercase;
  text-align: center;
  color: @color-b;
}

#toolbar {
  color: @highlight-color-a;
  margin: 0;
  padding: 0;
}

#toolbar li {
  border-left: 1px solid @border-color;
  float: left;
  height: @header-height;
  line-height: @header-height;
  text-transform: uppercase;
  margin: 0;
  padding: 0 10px;
}

#logo {
  line-height: @header-height;
  font-size: 0.25 * @header-height;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

#tabs {
  border-bottom: 1px solid @subdued-color;
}

#tabs ul {
  display: table;
  margin: 0;
  padding: 0 0 0 20px;
}

#tabs ul li {
  cursor: pointer;
  float: left;
  height: @tab-height;
  line-height: @tab-height;
  text-transform: uppercase;
  font-size: 0.3 * @tab-height;
  margin: 0;
  padding: 0px 10px;
  color: @subdued-color;

  &.active, &:hover {
    color: @highlight-color-a;
  }
}

#tab-content ul{
  color: @subdued-color;
  margin-top: 20px;
}

#tab-content nav ul li{
  cursor: pointer;
  text-transform: uppercase;
  font-size: @font-size-small;
  letter-spacing: 2pt;
  line-height: 40px;
  color: @color-b;

  div {
    font-size: @font-size-large;
    margin-right: 20px;
  }

  &.active, &:hover {
    color: @highlight-color-b;

    span {
      color: @color-d;
    }
  }
}


#note-picker {
  margin:0 auto;
  margin-bottom: -20px;
}

#note-picker path{
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
  opacity: 0.5;
}

#note-picker path:hover {
  opacity: 0.75;
}

#note_display {
  overflow: hidden;
  width: 108px;
}

#note_display span {
  width: 50px;
  display: none;
  font-size: @font-size-small;
  padding-top: 2px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8px;
  border: 2px solid #fa435f;
  color: white;
  border-radius: 20px;
}
#note_display span:nth-child(2) {
  display:block;
}
#note-picker path:nth-child(3) {
  opacity: 1;
}

#clips {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border-top: 1px solid @border-color;
  border-bottom: 1px solid @border-color;

  li {
    margin: 0;
    padding: 10px;
    border-left: 1px solid @subheader-color;
    float: left;
    height: 60px;

    &:last-child {
      border-right: 1px solid @subheader-color;
    }
  }
}

#sequencer_canvas {
  height: @sequencer-height;
  clear: both;
  position: relative;
  margin-bottom: 20px;
}

#sequencer_controls {
  overflow: auto;
  margin-top: 20px;
  width: 100%;

  ul {
    list-style: none;
    float: left;
    width: @button-width;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid @border-color;
      color: @highlight-color-c;
      text-transform: uppercase;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: @highlight-color-a;
        border: 1px solid @highlight-color-c;
      }

      span {
        font-weight: normal;
        font-size: @font-size-large;
        margin-right: 0.7em;

        &.icon-save {
          color: @color-c;
        }

        &.icon-clear {
          color: @color-d;
        }

        &.icon-hold {
          color: @color-a;
        }
      }
    }
  }
}

#note_display {
  float: left;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}

#sequencer_instructions {
  div {
    float: left;
    margin-right: 40px;

    span {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      color: @highlight-color-a;
    }

    p {
      margin: 0;
      padding: 0;
      text-transform: lowercase;
      color: @color-b;
    }
  }
}


#resizable {
  position: absolute;
  width: 839px;

  .partition {
    height: @sequencer-height;
    position: absolute;

    .ui-resizable-e {
      margin: -9px auto;
      width: 10px;
      height: 10px;
      background-color: @highlight-color-b;

      &:active{
        background-color: @color-g;
      }
    }

    &#right {
      width: @cell-width*16;
      background-color: @overlay-color;
      float: right;
      right: 0;
      border-left: 2px solid @highlight-color-b;

      .ui-resizable-w {
        width: 10px;
        height: 10px;
        background-color: @highlight-color-b;
        margin: -9px auto;

        &:active {
          background-color: @color-g;
        }
      }
    }
    &#left {
      border-right: 2px solid @highlight-color-b;
      width: 0;
      background-color: @overlay-color;
      float: left;
    }
  }
}

#overlay {
  height: @sequencer-height;
}

#prodigy_osc {
  height: 300px;
  width: @sidebar-width;
}

#extra-tabs {
  border-bottom: 1px solid @border-color;
  margin: 0 20px;
  margin-top: 20px;

  ul {
    display: table;
    margin: 0 auto;

    li {
      display: table-cell;
      text-align: center;
      border-left: 1px solid @border-color;
      border-top: 1px solid @border-color;
      padding: 10px 20px;
      width: 60px;
      color: @highlight-color-b;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      cursor: pointer;

      &:last-child {
        border-right: 1px solid @border-color;
      }

      &:hover, &.active {
        color: @highlight-color-a;
      }
    }
  }
}

#extra-tab-content {
  margin: 0 20px;
}

#effects {
  margin-top: 20px;

  .effect {
    margin-bottom: 6px;

    .name {
      display: inline-block;
      font-size: 1.1em;
      letter-spacing: 0.1em;
      cursor: pointer;
      text-transform: uppercase;
    }

    .amount {
      display: inline-block;
      float: right;
      margin-right: 5px;

      .tick {
        width: 7px;
        margin-right: -2px;
        height: 1.1em;
        line-height: 0.9em;
        display: inline-block;
        -webkit-transform: skew(35deg);
        -moz-transform: skew(35deg);
        -ms-transform: skew(35deg);
        -o-transform: skew(35deg);
        transform: skew(35deg);
      }
    }
  }

  .wahwah { color: @color-a; }
  .wahwah .tick { background-color: @color-a; }

  .delay { color: @color-f; }
  .delay .tick { background-color: @color-f; }

  .phaser { color: @color-e; }
  .phaser .tick { background-color: @color-e; }

  .overdrive { color: @highlight-color-b; }
  .overdrive .tick { background-color: @highlight-color-b; }

  .chorus { color: @color-d; }
  .chorus .tick { background-color: @color-d; }

  .compressor { color: @subdued-color; }
  .compressor .tick { background-color: @subdued-color; }
}
