@import "bootstrap/bootstrap.lessimport";
@import "font-awesome/font-awesome.lessimport";
@import "fontface.lessimport";
@import "variables.lessimport";
@import "custom-icons.lessimport";

body {
  overflow: hidden;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0;
}

ul {
  list-style: none;
}

canvas {
  cursor: pointer;
}

#sidebar, #content {
  position: absolute;
  top: 0;
  bottom: 0;
}

#sidebar {
  width: @sidebarWidth;
  background-color: @sidebarColor;
}

#content {
  left: @sidebarWidth;
  right: 0px;
  background-color: @contentColor;
  border-left: 1px solid @borderColor;
  overflow-y: auto;

  hr {
    clear: both;
    margin: 0;
    border: 0;
    border-bottom: 1px solid @borderColor;
  }

  .padded {
    padding: 20px;
    .clearfix;
  }
}

#header {
  box-sizing: border-box;
  height: @headerHeight;
  border-bottom: 1px solid @borderColor;
  line-height: @headerHeight;
  font-size: 0.45 * @headerHeight;
  color: @white;

  img {
    max-height: 0.60 * @headerHeight;
  }
}

#recordButton {
  color: @red;
  font-size: 0.5 * @headerHeight;

  li {
    position: relative;
    top: 2px;
  }

  &.recording {
    color: @green;
  }
}

#header {
  background-color: @headerColor;
}

#toolbar {
  margin: 0;
  padding: 0;
}

#toolbar li {
  border-right: 1px solid @borderColor;
  float: left;
  height: @headerHeight;
  line-height: @headerHeight;
  text-transform: uppercase;
  margin: 0;
  padding: 0 10px;
}

#logo {
  line-height: @headerHeight;
  font-size: 0.25 * @headerHeight;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

#tabs {
  height: @tabHeight;
  box-sizing: border-box;
  border-bottom: 1px solid @borderColor;
}

#tabs ul {
  display: table;
  margin: 0 auto;
  padding: 0;
}

#tabs ul li {
  cursor: pointer;
  float: left;
  height: @tabHeight;
  line-height: @tabHeight;
  text-transform: uppercase;
  font-size: 0.4 * @tabHeight;
  margin: 0;
  padding: 0px 15px;
  letter-spacing: 1pt;
  color: @purple;

  &.sampler{
    font-size: @fontSizeLarge;
  }

  span {
    font-size: @fontSizeSmall;
    margin-left: 10px;
  }

  &.active, &:hover {
    color: @white;
  }
}

#tab-content {
  padding: 25px;
  box-sizing: border-box;
  width: @sidebarWidth;
  bottom: 0;
  top: @headerHeight + @tabHeight;
  overflow-y: auto;
  position: absolute;
}

#tab-content ul{
  color: @purple;
}

#tab-content nav ul li{
  cursor: pointer;
  text-transform: uppercase;
  font-size: @fontSizeSmall;
  letter-spacing: 2pt;
  line-height: 40px;
  color: @grayLight;

  div {
    font-size: @fontSizeLarge;
    margin-right: 20px;
  }

  &.active, &:hover {
    color: @yellow;

    span {
      color: @teal;
    }
  }
}


#note-picker {
  margin:0 auto;
  margin-bottom: -20px;
}

#note-picker path{
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
  opacity: 0.5;
}

#note-picker path:hover {
  opacity: 0.75;
}

#note_display {
  overflow: hidden;
  width: 108px;
}

#note_display span {
  width: 50px;
  display: none;
  font-size: @fontSizeSmall;
  padding-top: 2px;
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8px;
  border: 2px solid #fa435f;
  color: white;
  border-radius: 20px;
}
#note_display span:nth-child(2) {
  display:block;
}
#note-picker path:nth-child(3) {
  opacity: 1;
}

#sequencer_canvas {
  height: @sequencerHeight;
  clear: both;
  position: relative;
  margin-bottom: 20px;
}

#sequencer_controls {
  overflow: auto;
  margin-top: 20px;
  width: 100%;

  ul {
    list-style: none;
    float: left;
    width: @buttonWidth;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid @borderColor;
      color: @grayLighter;
      text-transform: uppercase;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        color: @white;
        border: 1px solid @grayLighter;
      }

      span {
        font-weight: normal;
        font-size: @fontSizeLarge;
        margin-right: 0.7em;

        &.icon-save {
          color: darken(@teal, 20%);
        }

        &.icon-clear {
          color: @teal;
        }

        &.icon-hold {
          color: @red;
        }
      }
    }
  }
}

#note_display {
  float: left;
  margin: 0;
  margin-left: 40px;
  padding: 0;
}

#instructions {
  div {
    float: left;
    margin-right: 40px;

    span {
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      color: @white;
    }

    p {
      margin: 0;
      padding: 0;
      text-transform: lowercase;
      color: @grayLight;
    }
  }
}


#resizable {
  position: absolute;
  width: 839px;

  .partition {
    height: @sequencerHeight;
    position: absolute;

    .ui-resizable-e {
      margin: -9px auto;
      width: 10px;
      height: 10px;
      background-color: @yellow;

      &:active {
        background-color: lighten(@green, 20%);
      }
    }

    &#right {
      width: @cellWidth*16;
      background-color: fadeout(@white, 80%);
      float: right;
      right: 0;
      border-left: 2px solid @yellow;

      .ui-resizable-w {
        width: 10px;
        height: 10px;
        background-color: @yellow;
        margin: -9px auto;

        &:active {
          background-color: lighten(@green, 20%);
        }
      }
    }
    &#left {
      border-right: 2px solid @yellow;
      width: 0;
      background-color: fadeout(@white, 80%);
      float: left;
    }
  }
}

#overlay {
  height: @sequencerHeight;
}

#prodigy_osc {
  height: 300px;
  width: @sidebarWidth;
}

#extra-tabs {
  border-bottom: 1px solid @borderColor;
  margin: 0 20px;
  margin-top: 20px;

  ul {
    display: table;
    margin: 0 auto;

    li {
      display: table-cell;
      text-align: center;
      border-left: 1px solid @borderColor;
      border-top: 1px solid @borderColor;
      padding: 10px 20px;
      width: 60px;
      color: @yellow;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      cursor: pointer;

      &:last-child {
        border-right: 1px solid @borderColor;
      }

      &:hover, &.active {
        color: @white;
      }
    }
  }
}

#extra-tab-content {
  margin: 0 20px;
}

.effect (@color, @shadow: #333) {
  color: @shadow;
  .tick { background-color: @shadow; }
  &.active {
    color: @color;
    .tick.active { background-color: @color; }
  }
}

#effects {
  margin-top: 20px;

  .effect {
    margin-bottom: 6px;

    .name {
      display: inline-block;
      font-size: 1.1em;
      letter-spacing: 0.1em;
      cursor: pointer;
      text-transform: uppercase;
    }

    .amount {
      display: inline-block;
      float: right;

      .tick {
        cursor: pointer;
        width: 7px;
        margin-right: -8px;
        height: 1.1em;
        line-height: 0.9em;
        display: inline-block;
        -webkit-transform: skew(35deg);
        -moz-transform: skew(35deg);
        -ms-transform: skew(35deg);
        -o-transform: skew(35deg);
        transform: skew(35deg);
      }
    }
  }

  .wahwah { .effect(@red); }
  .delay { .effect(@blue); }
  .phaser { .effect(@green); }
  .overdrive { .effect(@yellow); }
  .chorus { .effect(@teal); }
  .reverb { .effect(@purple); }
}

.synth-select {
  margin: 0;
  width: 60%;
  float: left;

  li {
    .clearfix;
    line-height: 3 * @baseFontSize;
    margin-bottom: 10px;
    cursor: pointer;

    i {
      color: @gray;
      font-size: 3 * @baseFontSize;
      float: left;
    }

    .name {
      display: none;
      float: left;
      margin-left: 15px;
      padding: 0 10px;
      border: 1px solid @blue;
      color: @white;

      span {
        display: block;
        border-top: 1px solid @sidebarColor;
        border-bottom: 1px solid @sidebarColor;
        margin: -1px 0;
        padding: 0 10px;
      }
    }

    &.active, &:hover {
      i {
        color: @blue;
      }

      .name {
        display: block;
      }
    }
  }
}

.presets {
  .presets-dropdown {
    width: 325px;
    height: 40px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid @teal;
    padding: 4px;
    margin-bottom: 25px;

    select {
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 5px;
      font-size: 16px;
      line-height: 1.4em;
      text-transform: uppercase;
      font-weight: bold;
      color: @teal;
      background-color: @tealDark;
      -webkit-appearance: none;
      border-radius: 0;
      border: 0;

      option {
        font-weight: bold;
        padding: 5px;
        margin: 3px 0;
        line-height: 24px;
      }
    }
  }

  button {
    height: 40px;
    width: 40px;
    display: inline-block;
    float: right;
    box-sizing: border-box;
    border: 1px solid @teal;
    padding: 4px;
    font-size: 22px;
    background-color: @tealDark;
    color: @teal;

    i {
      position: relative;
      top: 2px;
      left: 1px;
    }
  }
}

.tab-nav {
  .clearfix;
}

#prodigy {
  .control-row {
    height: 60px;
    border-bottom: 1px solid @gray;
    padding: 10px 0;

    &:last-child {
      border-bottom: 0;
    }

    .osc {
      float: left;
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-top: 5px;
      border: 1px solid @gray;
      .border-radius(3px);
    }

    .knobs {
      display: inline-block;
      margin-left: 15px;
      float: right;
      height: 60px;
    }

    i {
      color: @teal;
      float: right;
      margin-left: 15px;
      display: inline-block;
      font-size: 24px;
      line-height: 60px;
    }
  }
}

#keyboard {
  height: 50px;
  box-sizing: border-box;
  border: 1px solid @teal;
  border-radius: @borderRadiusSmall;
  float: left;

  ul {
    float: left;
    height: 100%;
    margin: 0;
    padding: 0;

    li {
      float: left;
      position: relative;
      height: 100%;
      width: 16px;
      box-sizing: border-box;
      border-right: 1px solid @teal;

      &.accidental {
        height: 60%;
        width: 8px;
        margin-left: -4px;
        margin-right: -4px;
        background: @teal;
        border-left: 1px solid @teal;
        border-bottom: 1px solid @teal;
        z-index: 10;
      }

      &.active {
        background: @tealDark;
      }

      &:last-child {
        border-right: 0;
      }
    }
  }
}

#sampler {
  .freesound-search {
    div {
      width: 325px;
      height: 40px;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid @teal;
      padding: 4px;
      margin-bottom: 25px;

      input {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 5px;
        font-size: 16px;
        line-height: 1.4em;
        text-transform: uppercase;
        font-weight: bold;
        color: @teal;
        background-color: @tealDark;
        -webkit-appearance: none;
        border-radius: 0;
        border: 0;
      }
    }

    button {
      height: 40px;
      width: 40px;
      float: right;
      display: inline-block;
      box-sizing: border-box;
      border: 1px solid @teal;
      padding: 4px;
      font-size: 22px;
      background-color: @tealDark;
      color: @teal;
    }
  }

  .result {
    border: 1px solid @teal;
    padding: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;

    canvas {
      background: @tealDark;
      display: block;
      margin: 0;
    }

    .name, .duration {
      font-weight: bold;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: @tealDark;
      background: @teal;
      position: relative;
      z-index: 10;
      height: 20px;
      margin-top: -20px;
      overflow: hidden;
    }

    &:hover {
      .name, .duration, .shade {
        display: none;
      }
    }

    .name {
      float: left;
      max-width: 77%;
    }

    .duration {
      float: right;
      max-width: 21%;
    }

    .shade {
      width: 365px;
      height: 50px;
      position: relative;
      margin-top: -50px;
      float: left;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 5;
    }
  }
}

#session {
  min-height: 600px;
  width: 100%;
}

.circle-clip {
  width: 90px;
  height: 90px;
  margin-left: -45px;
  margin-top: -45px;
  border: 2px dotted @teal;
  border-radius: 50px;
}

.session-clip {
  width: 100px;
  height: 100px;
  float: left;

  canvas {
    float: left;
  }

  .play, .pause {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 32px;
    position: relative;
    float: left;
    margin-left: -100px;
    display:none;
  }

  .play {
    color: @teal;
    left: 1px;
  }

  .pause {
    color: @green;
  }

  &.active {
    .play {
      display: block;
    }
  }

  &.playing {
    .pause {
      display: block;
    }

    .play {
      display: none;
    }
  }
}


.bpm {
  width: 0.2 * @sidebarWidth;

  span {
    font-weight: normal;
    margin-left: 5px;
  }
}