<template name="prodigy">
<div id="prodigy">
  <div class="tab-nav">
    <div class="presets">
      <div class="presets-dropdown">
        <select>
          <option>Bell</option>
          <option>Chords</option>
          <option class="active">Click Bass</option>
          <option>Dice</option>
          <option>Dist Bass</option>
          <option>Drops</option>
          <option>FM Bass</option>
          <option>ETape</option>
          <option>Organ</option>
          <option>Trance Lead</option>
          <option>Saw Bass</option>
          <option>Space Pad</option>
          <option>Sub Bass</option>
        </select>
      </div>
      <button class="save">
        <i class="icon-random"></i>
      </button>
    </div>
  </div>
  <div class="control-row osc1">
    <div class="osc">
      <canvas width=50 height=50></canvas>
    </div>
    <i class="icon-off"></i>
    <div class="knobs">
      <input type="text" class="mix knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="detune knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="octave knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="mod knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
    </div>
  </div>
  <div class="control-row osc2">
    <div class="osc">
      <canvas width=50 height=50></canvas>
    </div>
    <i class="icon-off"></i>
    <div class="knobs">
      <input type="text" class="mix knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="detune knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="octave knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="mod knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
    </div>
  </div>
  <div class="control-row modOsc">
    <div class="osc">
      <canvas width=50 height=50></canvas>
    </div>
    <i class="icon-off"></i>
    <div class="knobs">
      <input type="text" class="knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="frequency knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="multiplier knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
    </div>
  </div>
  <div class="control-row filter">
    <i class="icon-off"></i>
    <div class="knobs">
      <input type="text" class="cutoff knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="q knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="mod knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
      <input type="text" class="env knob" data-width="60" data-fgColor="#0f979a" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
    </div>
  </div>
</div>
</template>
