<head>
  <title>clavius</title>
</head>

<body>
<div class="outer-wrapper">
  {{> body}}

</div>
</body>


<template name="page_controller">
    {{#if page "stepsequencer"}}
    {{> stepsequencer}}
    {{> library}}
    {{else}}
    {{> mixer}}
    {{/if}}
</template>


<template name="body">
  {{{renderPage}}}
</template>

<template name="stepsequencer">
  {{> clip_list }}

<div class="container">
  <div class="row">
    <div class="span12">

      <form class="form-inline">

        {{#if hidden}}
          <input type="text" id="nameSubmit" class="input-small" placeholder="name of sequence">
          <a href="#" class="btn">  save
          </a>
        {{else}}
          <div id="save">Add to Library</div>
        {{/if}}


        <label>bpm</label>
        <input class="bpm" value="120" type="number" />
        <label>note</label>
        <select class="note">
          <option value="15">1/16</option>
          <option value="30">1/8</option>
          <option value="60">1/4</option>
        </select>
        <label>size</label>
        <select class="bars">
          <option value="16">16</option>
          <option value="32" selected>32</option>
          <option value="64">64</option>
        </select>
        <label>drumkit</label>
        <select class="packId">
          <option value="17">1</option>
          <option value="9561">2</option>
          <option value="2618">3</option>
        </select>

        <div class="hold">HOLD</div>

      </form>
      <div id="note">space bar</div>
    </div>
  </div>
  <div class="row sequencer">
    <div class="span12 sequencer">
      {{> canvas}}
    </div>
  </div>
</template>
<template name="canvas">
     {{#constant}}
      <canvas></canvas>
    {{/constant}}
</template>


<template name="clip_list">
  <ul id="clips">
    {{#each clips}}
   <li> {{title}}</li>
  {{/each}}
</ul>
</template>

