<template name="mixer">
<div id="header">
</div>
<div id="tracks">
  {{#with song}}
  {{#each tracks}}
  {{> track}}
  {{/each}}
  {{/with}}
</div>
<div id="footer">
</div>
</template>

<template name="track">
	<div class="track">
    {{> trackcontrols}}
    {{> clips}}
	</div>
</template>

<template name="trackcontrols">
<div class="controls">
</div>
</template>

<template name="clips">
<div class="clips">
  {{#each clips}}
  {{> clip}}
  {{/each}}
</div>
</template>

<template name="clip">
<div style="left: {{left}}px; width: {{width}}px;" class="clip">
  <canvas></canvas>
</div>
</template>

