<template name="sidebar">
<div id="sidebar">
	{{> header}}
	<div id="tabs">
		<ul>
			<li class="active">Synthesis</li>
			<li>Drum</li>
			<li>Sampler</li>
			<li>FX</li>
			<li>LFO</li>
		</ul>
	</div>
	<div id="tab-content">
		<nav>
	        <ul>
	            <li class="active">
					<div class="icon-fm3"></div>FM
	            </li>
	            <li>
	            	<div class="icon-pulsewidth"></div>Additive
	            </li>
	            <li>
	            	<div class="icon-triangle2"></div>Subtractive
	            </li>
	        </ul>
	    </nav>
		{{> synthesis}}
	</div>
</div>
</template>
