<template name="sidebar">
<div id="sidebar">
	{{> header}}
	<div id="tabs">
		<ul>
			<li class="active">Synthesis</li>
			<li>Sampler</li>
			<li>Drumkit</li>
		</ul>
	</div>
	<div id="tab-content">
		<div class="tab-nav">
			<div class="presets">
				<div class="presets-dropdown">
					<select>
						<option>Bell</option>
						<option>Chords</option>
						<option class="active">Click Bass</option>
						<option>Dice</option>
						<option>Dist Bass</option>
						<option>Drops</option>
						<option>FM Bass</option>
						<option>ETape</option>
						<option>Organ</option>
						<option>Trance Lead</option>
						<option>Saw Bass</option>
						<option>Space Pad</option>
						<option>Sub Bass</option>
					</select>
				</div>
				<button class="save">
					<i class="icon-save"></i>
				</button>
			</div>
		</div>
		{{> instrument}}
	</div>
</div>
</template>
