<template name="sidebar">
<div id="sidebar">
	{{> header}}
	<div id="tabs">
		<ul>
      <li class="{{#if instrumentIs 'synthesis'}}active {{/if}}synthesis">Synthesizer</li>
      <li class="{{#if instrumentIs 'sampler'}}active {{/if}}sampler">Sampler</li>
      <!--<li class="{{#if instrumentIs 'drumkit'}}active {{/if}}drumkit">Drumkit</li>-->
		</ul>
	</div>
	<div id="tab-content">
		{{#if instrumentIs "sampler"}}
		{{> sampler}}
		{{else}}
		{{#if instrumentIs "drumkit"}}
		{{> drumkit}}
		{{else}}
		{{> prodigy}}
		{{/if}}
		{{/if}}
	</div>
</div>
</template>
