<template name="editor">
    <div id="clip-editor">
        <ul>
            <li id="new-clip" data-icon="&#xe013;"></li>
            <li id="toggle-fx" data-icon="&#xe026;"></li>
            <li id="download-clip" data-icon="&#xe016;"></li>
            <li id="delete-clip" data-icon="&#xe057;"></li>
            <li id="clip-volume" data-icon="&#xe02a;"></li>
            <li id="slice-clip" data-icon="&#xe008;"></li>
            <!-- each sibling clip in session... -->
        </ul>
        <div id="editor-canvas">
            {{#constant}}
            <canvas></canvas>
            {{/constant}}
        </div>
        <div id="editor-options">
            <div id="steps">
            </div>
            <div class="note-length">
            </div>
            <div id="midi-library" data-icon="&#xe002;">
            </div>
        </div>
    </div>
</template>