<template name="prodigy">
<div class="control-row">
	<div class="osc">
		<canvas width=50 height=50></canvas>
	</div>
	<div class="knobs">
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
	</div>
	<i class="icon-volume-up"></i>
</div>
<div class="control-row">
	<div class="osc">
		<canvas width=50 height=50></canvas>
	</div>
	<div class="knobs">
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
	</div>
	<i class="icon-volume-up"></i>
</div>
<div class="control-row">
	<div class="osc">
		<canvas width=50 height=50></canvas>
	</div>
	<div class="knobs">
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
	</div>
	<i class="icon-volume-up"></i>
</div>
<div class="control-row">
	<div class="osc">
		<canvas width=50 height=50></canvas>
	</div>
	<div class="knobs">
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
		<input type="text" class="knob" data-width="60" data-fgColor="#18cfff" data-skin="tron" data-thickness=".2" data-displayPrevious=true data-angleOffset="180"></input>
	</div>
	<i class="icon-volume-up"></i>
</div>
</template>
